
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: #171a1c;
    color: #ffffff;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10PX;
    scroll-behavior: smooth; 

}

.main {
    width: 100%;
    height: 100vh ;
    display: flex;
    align-items: center;
    background: url(img/wallpaper.jpg) no-repeat ;
    background-repeat:no-repeat ;
    
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    padding: 10% 10%;
    background-color: antiquewhite;
}
.main h2 {
    color: #fff;
    font-size: 2vh;
    font-weight: 500px;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    
    color:#D14D72 ;
    font-size: 5vh;
    font-weight: 600px;
}


.main h3 {
    color: #fff;
    font-size: 3vh;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color: #fff;
    background-color: #D14D72;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover {
    background-color: #e02358;
    transform: scale(1.1);
}
.span1{
    color: #D14D72;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.container-fluid{
    background-color: #171a1c;
    padding: 10px 20px;
    /* padding-top: 2.8rem;
    padding-left: 8% ;
    padding-right: 8%; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: fixed;   
    top: 0;   
    left: 0;
    right: 0;
    z-index: 999;
    

}
.navbar-brand{
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
.container-fluid ul li{
    list-style-type: none;
    display: inline;
    margin: 0.8rem 1.5rem;

}
.container-fluid ul li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize ;
    transition: 0.4s;
    font-size: 10px;

}
.container-fluid ul li a:hover{
    color: #D14D72;
}
.about{
    padding: 10% 10%;
    padding-bottom: 5%;
}
.about h2{
    margin-top: 10px;
    
    color:#D14D72 ;
    font-size: 3em;
    font-weight: 600;
    
}
.about p {
    color: #fff;
    font-size: 2em;
    font-weight: 50px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.lan{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.lan div{

    margin: 20px;
    border-style: solid;
    border-color: #ffabab;
    padding: 20px;
    border-radius:12px;
    border-width: 1px;
    box-shadow: 5px 5px 10px #fef2f4;
    transform: scale(1.1); 
    transition: transform 0.3s;
    width: 35%;
    height: 20%;
}
.lan div:hover{
    transform: scale(1);
}
hr{
    color: #fef2f4;
    border-width: 2px; 
    border-color: #fef2f4; 
    border-style: solid;
}
.skills h2{
    color: #D14D72 ;
    text-align: center;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;
}
.skil{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.s1{
    background-color: #fcc8d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 10px solid #fcc8d1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #c56b9f;
    transition: transform 0.5s ease;
    margin: 1%;
    text-align: center;
    width: 200px;
}
.p1 {
    color: #fef2fa;
    margin-top: 5px;
    font-size: 3em;
    
}
.p2{
    color: #D14D72;
   
}
.circle70 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent;  
    border: 8px solid #D14D72;   
    border-radius: 50%; 
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle85 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent; 
    border: 8px solid #D14D72;
    border-radius: 50%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle60 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent;   
    border: 8px solid #D14D72;  
    border-radius: 50%; 
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%);     
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle40 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent;   
    border: 8px solid #D14D72; 
    border-radius: 50%;  
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);  
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle50 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent;
    border: 8px solid #D14D72;  
    border-radius: 50%; 
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1:hover {
    transform: scale(1.05);
    z-index: 2;
}
.skills{
    padding: 0 20%;
}
.p12{
    color: #fef2fa;
    margin-top: 5px;
    font-size: 2.5em;
    
}
.EDUCATION h2{
    color: #D14D72 ;
   text-align: center;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;

}
.ed{
    margin: 2% 10%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: solid;
    border-color: #ffabab;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #fef2f4;
 align-items: center;
}
.ed1{
    display: flex;
    flex-direction: column;
    color:#fef2f4 ;
    font-size: 2em;
    font-weight: 300;
    align-items: center;
    align-items: center;
   
    
}
.content {
    margin-top: 200px; 
}
footer{
    background-color: #fcc8d1 ;
    /* height: 50px; */
    display: flex;
    /* padding-left: 10%; */
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0px ;

}
.ico12{
    font-size: 20px;
    margin: 2%;
}
.Projects h2{
    color: #D14D72 ;
   text-align: center;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;

}
.work h2{
    color: #D14D72 ;
  text-align: center;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;

}
.heat{
    font-size: 6em;
}

@media (min-width: 377px) and (max-width: 767px)
{   .content {
    margin-top: 50px; 
}
.lan{
    
    flex-direction: column;
    
    
}
.lan div{

    width: 80%;
    
}


    .main {
    
        padding: 8% 8%;
    }
    html{
        font-size: 8PX;
    
    }
    .skills{
        padding: 0 5%;
        
    }
    .s1{
        width: 160px;
    }
    .circle70 {
        width: 100px;
        height: 100px;
        border: 5px solid #D14D72;
    
    }
    .circle85 {
        width: 100px;
        height: 100px;
        border: 5px solid #D14D72;
    
        
    }
    .circle60 {
        width: 100px;
        height: 100px;
        border: 5px solid #D14D72;
    
    }
    .circle40 {
        width: 100px;
        height: 100px;
        border: 5px solid #D14D72;

    }
    .circle50 {
        width: 100px;
        height: 100px;
        border: 5px solid #D14D72;

    }

}
@media (min-width: 300px) and (max-width: 378px){
    .lan{
    
        flex-direction: column;
        
        
    }

    .lan div{
    
        width: 80%;
        
    }
    .content {
        margin-top: 20px; 
    }
    .main {

        padding: 5% 5%;
        min-height: 100px;
    }
    html{
        font-size: 5PX;
    
    }
    .skills {
        padding: 0 3%;
    }
    .circle70 {
        width: 50px;
        height: 50px;
        border: 2px solid #D14D72;

    }
    .circle85 {
        width: 50px;
        height: 50px;
        border: 2px solid #D14D72;
        
    }
    .circle60 {
        width: 50px;
        height: 50px;
        border: 2px solid #D14D72;

    }
    .circle40 {
        width: 50px;
        height: 50px;
        border: 2px solid #D14D72;

    }
    .circle50 {
        width: 50px;
        height: 50px;
        border: 2px solid #D14D72;
    }
    .s1{
        width: 100px;
    }
}

.select-menu{
   
    padding: 2% 10%;
    
}


.sbtn-text{
   
    height:60px;
    background: #FCC9D2;
    padding: 10px;
    
  
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between; 
    box-shadow: 0 0 8px #D14D72;
   
}
.accordion-body{

    margin: 30px;
    
}
.option-text {
    color: #fff;
    font-size: 2em;
    font-weight: 50px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}






